/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
laravel-echo-server.lock
.DS_Store
/public/css/app.css
/public/js/app.js
.gitignore
/public/mix-manifest.json
public/js/alpine.js
